<%- include('../includes/manage'); -%>
<main class="h-full pb-16 overflow-y-auto">
    <br>
    <h1 style="text-align:center; font-size: 40px;">Logi platnosci</h1>
    <div class="flex">
      <div class="flex-1" style="margin: 40px">
        <div class="card text-center shadow-2xl">
            <div class="card-body">
                <div class="overflow-x-auto ">
                  <% if(!data[0]){ %>
                        <div class="alert alert-error">
                            <div class="flex-1">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">    
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path>                      
                              </svg> 
                              <label>W tym sklepie nie dokonano jeszcze zadnych transakcji!</label>
                            </div>
                        </div>
                      <% }else{ %>
                        <table class="table w-full ">
                            <thead  class="bg-gray-100">
                              <tr>
                                <th>UUID</th> 
                                <th>Bramka</th> 
                                <th>ID produktu</th>
                                <th>Ilosc</th>
                                <th>Gracz</th>
                                <th>Status</th>
                                <th>Data</th>
                                <th>Akcja</th>
                              </tr>
                            </thead> 
                            <tbody >
                              <% data.forEach(function(data){ %>
                              <tr style="border-color: red;">
                                <td><%= data.paymetUUID %></td> 
                                <td><%= data.type %></td> 
                                <td><%= data.productID %></td>
                                <td><%= data.count %></td>
                                <td><%= data.nick %></td>
                                <% if(data.payed == true){ %>
                                  <td><div class="badge badge-success">OPLACONE</div></td>
                                <% }else{ %>
                                  <td><div class="badge badge-error">NIE OPLACONE</div></td>
                                 <% } %> 
                                <td><% var txt = data.date %><% var timestamp = moment.unix(txt.substring(0, txt.length - 3)) %><%- timestamp.locale("pl").format('lll') %> </td>
                                <% if(data.payed == true){ %>
                                  <td><a href="" class="btn btn-sm btn-primary" disabled>Aktywuj</a></td>
                                <% }else{%>
                                  <td><a href="/panel/manage/<%= result[0].id %>/payment/<%= data.paymetUUID %>/complete" class="btn btn-sm btn-primary">Aktywuj</a></td>
                                <% } %> 
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                    <% } %> 
                </div>
            </div>
        </div> 
      </div>
    </div>
    <div class="container flex justify-center mx-auto">
      <div class="flex items-center space-x-1">
        <% if(page > 1) { %>
          <a href="/panel/manage/<%= result[0].id %>/payments/?page=<%=page-1%>" class="flex items-center px-4 py-2 text-gray-500 bg-gray-300 rounded-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
            </svg>
          </a>
        <% } %>
        <% for(let i = iterator; i <= endingLink; i++) { %>
          <% if(i === page) { %>
            <a href="/panel/manage/<%= result[0].id %>/payments/?page=<%=i%>" class="px-4 py-2 text-gray-700 bg-blue-400 rounded-md hover:bg-blue-400 hover:text-white "><%=i%></a>
            <% continue; %>
          <% } %>
          <% if(i > 0){ %>
            <a href="/panel/manage/<%= result[0].id %>/payments/?page=<%=i%>" class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-blue-400 hover:text-white"><%=i%></a>
          <% } %> 
        <% } %>
          <% if(page < numberOfPages) { %> 
            <a href="/panel/manage/<%= result[0].id %>/payments/?page=<%=page+1%>" class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-blue-400 hover:text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
            </a>
          <% } %>
      </div>
  </div>
</main>
<%- include('../includes/footer'); -%>